*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 2%;
  width: 500px;
  padding: 4%;
  
  display: flex;
  justify-content:space-around;
}
.form{
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 320px;
  min-height: 150px;
  margin-left: 160px;
  padding-right: 50%;
}

input[type="text"],
input[type="text2"]
{
  width: 280px;
  padding: 7px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.book-list, #book-list, #favorite-list {
  list-style-type: none;
  padding: 0;
  width: 900px;
}
.book-list li, #book-list li, #favorite-list li {
  padding: 8px;
  background: #f0f0f0;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-list li.favorite, #favorite-list li.favorite {
  background-color: #ffffe0;
}
.buttons {
  display: flex;
  gap: 5px;
}
.haven{
  text-align: center;
  margin-top: 2%;
}
#addBookButton {
  width: 280px;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
}